<h1 align="center"> Listing all Articles</h1>
<div align="center">
  <%= will_paginate %>
</div>
<div>
  <%#= link_to ' New Article', class:"btn btn-primary", data_toggle: "modal", data_target: "#exampleModal" %>
</div>
<%if user_signed_in?%>
  <h3 align="center">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" >
      New Article
    </button>
  </h3>
  <div class="modal fade in", id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%= render 'modal' %>
  </div>
<%end%>
<div id="articles">
  <%= render 'article', obj: @articles %>
</div>
<div align="center">
  <%= will_paginate %>
</div>
