<div class="container", style="position: relative;bottom:0">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Harsh Sharma</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
